<div class="banner" style=" background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://static.vecteezy.com/ti/vetor-gratis/p1/4857260-all-suit-of-playing-cards-fall-casting-a-shadow-on-white-background-vector-illustration-for-casino-poker-and-card-games-vetor.jpg');">
  <div class="inner-container ">
     <%# <%= image_tag "logo_v.png" %>

    <h1><b>FODINHA ONLINE</b></h1>
    <p> Jogue Fodinha Online com pessoas reais.</p>
    <p class="mb-5"></p>
    <%= link_to "JOGUE AGORA", new_user_registration_path, class: "btn-home" %>
    <%# <p class="partner"> Uma parceria &nbsp <%= image_tag "logo_exb.png", :style => "width: 150px" %>
  </div>
</div>

<div class="banner-cards-container row p-5">

  <figure class="image-block">
    <h3> Próximos Torneios </h2>
  </figure>

  <figure class="image-block">
    <figcaption>
      <h2> Últimos Campeões </h2>
    <figcaption>
  </figure>

  <figure class="image-block">

    <h2> Jogadores Online </h2>
  </figure>
</div>
